{{ if .Site.Params.portfolio.enable }}
{{ "<!-- Portfolio Section Start -->" | safeHTML }}
<section id="works" class="works">
	<div class="container">
		<div class="section-heading">
			{{ with .Site.Params.portfolio.title }}<h1 class="title wow fadeInDown" data-wow-delay=".3s">{{ . }}</h1>{{ end }}
			{{ with .Site.Params.portfolio.subtitle }}<p class="wow fadeInDown" data-wow-delay=".5s">{{ . }}</p>{{ end }}
		</div>
		  <div class="row address-details">
      <div class="col-lg-3 col-sm-6">
        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
           {{ with . }}<h5>1.ดูชนิดประกันของลูกค้าจัดเตรียมเอกสารแล้วแจ้งไปยังบริษัทประกัน</h5>{{ end }}
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
            {{ with . }}<h5>2.พาคนไข้ไปแผนกซักประวัติกับพยาบาลเข้าห้องตรวจ แจ้งนัด</h5>{{ end }}
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div data-wow-duration="500ms" data-wow-delay=".7s">
            
        {{ with .}}<h5>3.พาคนไข้ไปส่งที่การเงินเซ็นต์ใบเสร็จพาไปห้องยาคนไข้กลับบ้าน</h5>{{ end }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div  data-wow-duration="500ms" data-wow-delay=".9s">
        {{ with . }}<h5>4.แสกนเอกสารจัดทำเอกสารเตรียมส่งบริษัทประกัน</h5>{{ end }}</p>
        </div>
      </div>
    </div>
	</div>
</section>
{{ "<!-- Portfolio Section End -->" | safeHTML }}
{{ end }}